<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinjiang.springcloud.service.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.jinjiang.springcloud.service.domain.User">
        <id column="id" property="id" />
        <result column="email" property="email"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="findById" resultMap="userResultMap">
        SELECT * from user where id = #{id}
    </select>

    <select id="queryUsers" resultMap="userResultMap">
        SELECT * FROM user;
    </select>

</mapper>