<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>

    <typeAliases>
        <!--<typeAlias alias="queryPage" type="com.jinjiang.springcloud.common.QueryPage" />-->
        <!--<typeAlias alias="queryResult" type="com.jinjiang.springcloud.common.QueryResult"/>-->

        <package name="com.jinjiang.springcloud.service.domain"/>
    </typeAliases>

    <mappers>
        <mapper resource="com.jinjiang.springcloud.service.mapper.UserMapper.xml"/>
    </mappers>



</configuration>